# Python cache
__pycache__/
*.pyc

# Virtual env
venv/

# Graph outputs
graphs/snapshots/*.gpickle
graphs/baselines/*.gpickle
graphs/*.gpickle

# SCI results (optional — remove these 2 lines if you want to track results)
graphs/sci_results/*.csv
graphs/sci_results/plots/*.png

# Dataset
data/*.csv

# OS junk
.DS_Store
Thumbs.db

# VS Code
.vscode/